<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationSuite">
	<listeners>
		<listener class-name="com.LegacyApplication.CustomListner.Listner"></listener>
		<listener class-name="com.LegacyApplication.CustomListner.ExecutionListner"></listener>
	</listeners>
	<test name="Smoke Test">
		<classes>
            <class name="com.LegacyApplication.LoginPage.TC001_LoginAsAgency" />
			<class name="com.LegacyApplication.LoginPage.TC002_LoginAsAdmin" />
			<class name="com.LegacyApplication.SubmissionPage.TC011_VerifySubmissionDetailsInformation" />
			<class name="com.LegacyApplication.SubmissionPage.TC003_VerifyGlApplicationInfo" />
			<class name="com.LegacyApplication.SubmissionPage.TC004_VerifyGlRatingData" />
			<class name="com.LegacyApplication.SubmissionPage.TC005_VerifyHeaderTabs" />
			<class name="com.LegacyApplication.SubmissionPage.TC006_VerifyOptionalCoverages" />
			<class name="com.LegacyApplication.SubmissionPage.TC007_VerifyPriceIndicationInfo" />
			<class name="com.LegacyApplication.SubmissionPage.TC008_VerifyCommonEligibilityInfo" />
			<class name="com.LegacyApplication.SubmissionPage.TC009_VerifySpecificPageInfo" />
			<class name="com.LegacyApplication.SubmissionPage.TC010_VerifyApplicationPageInfo" />
			<class name="com.LegacyApplication.SubmissionPage.TC011_VerifySubmissionDetailsInformation" />
		</classes>

	</test> <!-- Test -->
</suite> <!-- AutomationSuite -->